# Shared
TZ=
PGID=
PUID=

# nginx
RPI_IP=
NGINX_PORT=80

# Homebridge
HOMEBRIDGE_CONFIG_UI_PORT=8581

# WireGuard
DOMAIN=
INTERNAL_SUBNET=
PEERS=
SERVERPORT=51820

# Pi-hole
PIHOLE_UI_PORT=8080
PIHOLE_UI_PORT_HTTPS=8443
WEBPASSWORD=
LOCAL_DNS=
