version: '3.1'

services:
  webserver:
    container_name: nginx
    image: nginx:latest
    restart: unless-stopped
    volumes:
      - ./nginx:/etc/nginx/templates
    ports:
      - "80:80"
    environment:
      NGINX_HOST: ${RPI_IP}
      NGINX_PORT: ${NGINX_PORT}
      HOMEBRIDGE_PORT: ${HOMEBRIDGE_CONFIG_UI_PORT}
      PIHOLE_PORT: ${PIHOLE_UI_PORT}
  homebridge:
    container_name: homebridge
    image: homebridge/homebridge:latest
    restart: unless-stopped
    hostname: home-bridge.internal
    network_mode: host
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      HOMEBRIDGE_CONFIG_UI: 1
      HOMEBRIDGE_CONFIG_UI_PORT: ${HOMEBRIDGE_CONFIG_UI_PORT}
      TZ: ${TZ}
    volumes:
      - homebridge:/homebridge
  unbound:
    container_name: unbound
    image: "mvance/unbound-rpi:latest"
    restart: unless-stopped
    environment:
      TZ: ${TZ}
    volumes:
      - ./unbound/unbound.conf:/opt/unbound/etc/unbound/unbound.conf:ro
    networks:
      wg-pihole:
        ipv4_address: 172.30.0.2 # ensure there are no ip conflicts
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped
    hostname: pi.hole
    environment:
      TZ: ${TZ}
      PIHOLE_UID: ${PUID}
      PIHOLE_GID: ${PGID}
      FTLCONF_webserver_api_password: ${WEBPASSWORD}
      FTLCONF_dns_listeningMode: 'SINGLE'
      FTLCONF_dns_upstreams: unbound
      FTLCONF_dns_hosts: ${LOCAL_DNS}
    volumes:
      - ./pihole/pihole:/etc/pihole
      - ./pihole/dnsmasq.d:/etc/dnsmasq.d
    ports:
      - 53:53/tcp
      - 53:53/udp
      - ${PIHOLE_UI_PORT}:80/tcp
      - 443:443/tcp
    cap_add:
      - SYS_NICE
    networks:
      wg-pihole:
        ipv4_address: 172.30.0.3 # pihole ip for wireguard dns config
    depends_on:
      - unbound
  wireguard:
    container_name: wireguard
    image: linuxserver/wireguard
    restart: unless-stopped
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      SERVERURL: ${DOMAIN}
      SERVERPORT: ${SERVERPORT}
      PEERS: ${PEERS}
      PEERDNS: 172.30.0.3 # pihole address
      INTERNAL_SUBNET: ${INTERNAL_SUBNET}
      ALLOWEDIPS: 0.0.0.0/0
    volumes:
      - ./wireguard:/config
    ports:
      - ${SERVERPORT}:${SERVERPORT}/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    networks:
      wg-pihole:
        ipv4_address: 172.30.0.4 # ensure there are no ip conflicts
    depends_on:
      - pihole
volumes:
  homebridge: null
networks:
  wg-pihole:
    ipam:
      driver: default
      config:
        - subnet: 172.30.0.0/24 # internal network for unbound, pihole and wireguard
